.product-card {
  width: 23.5rem;
}
.product-card img {
  width: 100%;
  height: 11.8rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}
.product-card .product-description {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.product-details-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.product-details-container h3 {
  font-size: 0.9rem;
  font-weight: 600;
}

.guarantee-text-container {
  display: flex;
  gap: 0.25rem;
  padding: 0.8rem 0;
  color: #008800;
  border-bottom: 1px solid #eee;
}
.guarantee-text-container h4 {
  font-size: 0.8rem;
  font-weight: 500;
}

.add-to-wishlist-button {
  padding: 0.7rem 1.1rem;
  color: #888;
  background-color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
}

.add-to-cart-button {
  padding: 0.7rem 1.1rem;
  background-color: #000;
  color: #eee;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0 0 0.4rem 0;
  border: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 0.7rem 0;
}
