
.side-bar-container{
    width: 16%;
    height:100vh;
    padding: 2.7rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar-container .logo-container{
    font-size:1.8rem;
    padding-left:0.3rem;
}

.side-bar-container .logo-container span:first-child{
    color:#bb66be;
}
.side-bar-container .logo-container span:last-child{
   color:#000;
   font-weight:500;
}
.side-bar-container .filter-container .filter-heading {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
.side-bar-container .side-bar-buttons-container button{
   display: flex;
   border:none;
   margin-bottom: 1rem;
   color:#000;
   background-color: #fff;
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 0.9rem;
   cursor: pointer;
}

